{% extends 'base.jinja' %}
{% block content %}

  <h1>{{ question.prompt }}</h1>

  <form action="/answer/{{question_num}}" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in question.choices %}
      <p>
        <input required
            type="radio"
            name="answer"
            value="{{choice}}">
        {{choice}}
      </p>
      {% endfor%}
    <button>Continue</button>
  </form>

{% endblock %}
