{% extends 'base.jinja' %}
{% block content %}

  <h1> {{survey.title}}</h1>
  <p>
    {{survey.instructions}}
  </p>

  <!--
    DO NOT CHANGE THE FORM ACTION OR METHOD
    You'll need to write the applicable code to handle this request
   -->
  <form action="/begin" method="POST">
    <button>Start!</button>
  </form>

{% endblock %}
