{% extends 'base.jinja' %}
{% block content %}

  <h1> Survey Title Should Go Here</h1>
  <p>
    Survey Instructions Should Go Here
  </p>

  <!--
    DO NOT CHANGE THE FORM ACTION OR METHOD
    You'll need to write the applicable code to handle this request
   -->
  <form action="/begin" method="POST">
    <button>Start!</button>
  </form>

{% endblock %}
